#new-quote, #reset{
	font-size: 30px;
	margin-top: 10px;
}

#tweet{
	width: 20px;
	padding-left: 78rem;
}

#tweet, i{
	color: #4099FF;
}

body .well{
	padding-top: 10px;
	font-size: 25px;
	font-family: serif;
}

body .container-fluid, html{
	background-color: #7144A1;
}

#frame{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}